#app {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: "header header" "evaluation helpers";
	min-width: 30em;
	grid-area: app;
	max-height: 100vh;
	position: sticky;
	top: 0;
	gap: 0.25em;
	>header {
		padding: 0.5em;
		grid-area: header;
		display: flex;
		justify-content: space-between;
	}
}
.criteria, [slot="criteria"] {
	--gap-inline: .5em;
	--input-width: 4em;
	/* display: grid;
	grid-template-columns: var(--input-width, 4em) 1fr;
	grid-column: 1 / -1;
	gap: 0 var(--gap-inline); */
}