.helpers {
	--radius: .75em;
	background-color: #333;
	box-shadow: inset 2px 2px 3px #0009, 2px 2px 3px #0006;
	display: grid;
	grid-template-rows: 1fr auto;
	border: 2px solid #334;
	@media (width > 768px) {
		overflow: hidden;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr auto;
		border-right: none;
		border-left-width: 5px;
		border-radius: var(--radius) 0 0 var(--radius);
		.scale {
			flex-direction: column;
			width: 2em;
		}
	}
	@media (width <= 768px) {
		border-bottom: none;
		border-top-width: 5px;
		border-radius: var(--radius) var(--radius) 0 0;
		.scale {
			li {
				height: 2em;
			}
		}
	}
}
div.comments {
	overflow-y: auto;
}
ul.scale {
	display: flex;
	gap: .25em;
	gap: 2px;
	padding: 2px;
	margin: 0;
	list-style: none;
	font-size: 1.5em;

	li {
		flex-grow: 1;
		display: grid;
		place-items: center;
		border-radius: .25em;
		background-color: #334;
		color: #fff;

		box-shadow: inset -1px -1px 2px #0009, inset 1px 1px 2px #fff8;
	}
}
.comments {
	color: #fafafa;
	line-height: 1;
	ul {
		font-size: .9em;
		display: grid;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: block;
			padding: .25em 0;
			padding-bottom: .5em;
			margin-inline: .5em;
			border-bottom: 2px groove #fff6;
			font-style: oblique;
			&:has(:checked) {
				font-style: normal;
				color: yellow;
				text-shadow: 1px 1px black;
				background-color: #ff01;
			}
		}
		button-ponent {
			width: 1.5em;
			height: 1.5em;
			padding: .25em;
			float: right;
		}
	}
	>div {
		font-size: 1.5em;
		display: flex;
		align-items: center;
	}
	button-ponent {
		width: 1.5em;
		height: 1.5em;
		padding: .25em;
	}
	input {
		display: none;
	}
}