.helpers {
	--radius: .75em;
	background-color: #333;
	box-shadow: inset 2px 2px 3px #0009, 2px 2px 3px #0006;
	display: grid;
	grid-template-rows: 1fr auto;
	border: 2px solid #334;

	@media (width > 768px) {
		overflow: hidden;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr auto;
		border-right: none;
		border-left-width: 5px;
		border-radius: var(--radius) 0 0 var(--radius);

		.scale {
			flex-direction: column;
			width: 2em;
		}
	}

	@media (width <=768px) {
		border-bottom: none;
		border-top-width: 5px;
		border-radius: var(--radius) var(--radius) 0 0;

		.scale {
			li {
				height: 2em;
			}
		}
	}
}

ul.scale {
	display: flex;
	gap: .25em;
	gap: 2px;
	padding: 2px;
	margin: 0;
	list-style: none;
	font-size: 1.5em;
	padding-block: .25em;

	li {
		flex-grow: 1;
		display: grid;
		place-items: center;
		border-radius: .25em;
		background-color: #334;
		color: #fff;

		box-shadow: inset -1px -1px 2px #0009, inset 1px 1px 2px #fff8;
	}
}

div.comments {
	color: #fafafa;
	line-height: 1.1;
	overflow-y: hidden;
	display: grid;
	.comments-list {
		font-size: .9em;
		list-style: none;
		padding: 0;
		margin: 0;
		overflow-y: scroll;

		button-ponent {
			width: 1.5em;
			height: 1.5em;
			padding: .25em;
			float: right;
		}
	}

	>header {
		font-size: 1.2rem;
		padding: 0.25rem 0.5rem 0;
		font-weight: bold;
		/* display: flex; */
		align-items: center;
		text-align: center;
	}

	button-ponent {
		width: 1.5em;
		height: 1.5em;
		padding: .25em;
	}
}