body {
	height: 100vh;
	display: grid;

	>header {
		grid-area: header;
		display: grid;
		align-items: center;
		padding: 0.5em;
		color: #f60;

		h1 {
			display: flex;
			filter: drop-shadow(.05em .05em 1px #0009);
			gap: .25em;
			align-items: center;
		}

		img {
			height: 1.5em;
		}
	}

	>main {
		grid-area: main;
	}

	>nav.sec {
		grid-area: nav-sec
	}

	>nav.main {
		grid-area: nav-main;
	}

	.helpers {
		grid-area: helpers;
	}

	@media (width > 768px) {
		grid-template-rows: auto auto 1fr;
		grid-template-columns: 1fr auto;
		grid-template-areas:
		"header nav-sec"
		"nav-main nav-main"
		"app app"
		;
		>nav.sec {
			svg {
				width: auto;
				aspect-ratio: 1;
			}
		}
	}

	@media (width <=768px) {
		grid-template-rows: auto 1fr auto auto;
		grid-template-columns: 1fr auto;
		grid-template-areas:
		"header nav-main"
		"main main"
		"helpers helpers"
		"nav-sec nav-sec"
		;
	}
}
