nav ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	a {
		display: block;
		text-decoration: none;
		color: inherit;
	}
}
nav.sec {
	background-color: var(--background-color);
	color: var(--base-color);
	display: flex;
	a {
		flex-grow: 1;
		display: grid;
		place-items: center;
		&:hover {
			background-color: #fff1;

		}
	}
	svg {
		display: block;
		padding: 0.5em;
		width: 100%;
		height: 3em;
	}
}