:root {
  --primary-color: hsl(211, 100%, 50%);
  --secondary-color: hsl(211, 7%, 46%);
  --success-color: hsl(120, 40%, 45%);
  --danger-color: hsl(0, 70%, 45%);
  --warning-color: hsl(40, 100%, 50%);
  --info-color: hsl(180, 70%, 45%);
}