/* Evaluation Component Styles */

:host {
	--input-width: 5rem;
	--smaller-ratio: .9;
	--smaller: calc(1em * var(--smaller-ratio));
	--larger: calc(1em / var(--smaller-ratio));
	display: grid;
	grid-area: app;
	max-height: 100dvh;
	position: sticky;
	top: 0;
	height: 100%;
	font-size: var(--larger);

	>header {
		padding: 0.5em;
		display: grid;
		font-weight: 900;
		font-family: var(--font-title);

		h1 {
			margin: 0;
			font-size: 1.25em;
		}
	}
}

.scoring {
	display: flex;
	align-items: center;
	gap: 0 1ch;
}
gv-scoring {
	background-color: transparent;
}
.student {
	display: flex;
	align-items: center;
	gap: 0 1ch;
}

.helpers {
	--radius: .75em;
	--bg-color: hsl(from var(--background-color) h s calc(l + var(--less)));
	--border-color: hsl(from var(--bg-color) h calc(s + 50) l);

	display: grid;
	/* overflow: hidden; */
	position: relative;
}

section.comments {
	box-sizing: border-box;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: var(--bg-color);
	margin: 5px;
	border-radius: 5px;
	
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.25em 0.5em;
		background-color: hsl(from var(--bg-color) h s calc(l + var(--less)));
		background-image: linear-gradient(to bottom, transparent, #0003);

		h1 {
			margin: 0;
			font-size: .9em;
		}

		button {
			--color: hsl(0, 70%, 50%);
			box-sizing: border-box;
			font-size: 0.75em;
			aspect-ratio: 1;
			width: 2em;
			margin-block: -1em;
			border-radius: 2em;
			border: none;
			background-color: var(--color);
			box-shadow: 0 2px 3px #0006;
			color: white;

			&:hover {
				background-color: hsl(from var(--color) h 100% l);
			}
		}
	}

	slot {
		overflow-y: auto;
		display: grid;
		font-size: smaller;
		line-height: 1;
		align-content: flex-start;
	}
}

.id {
	quotes: '(' ')';
	font-size: smaller;

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}

.description {
	display: none;
}

slot.criteria {
	--gap-inline: .5em;
	display: block;
	padding: 0 0.5em;
	padding-bottom: 1em;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.navigation {
	color: var(--base-color);
	display: flex;
}

@media (aspect-ratio > 1) {
	:host {
		grid-template-columns: 1fr auto 3rem;
		grid-template-rows: auto 1fr;

		>header {
			display: grid;
			grid-template-columns: auto 5rem;
			justify-content: space-between;
			grid-row: 1;
			grid-column: 1;
			h1 {
				grid-column: 1 / -1;
				line-height: 1;
			}
		}
	}

	section.helpers {
		overflow: hidden;
		grid-auto-flow: column;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr auto;
		grid-row: span 2;
		grid-column: 2;
		place-content: stretch end;
		width: clamp(14em, 80dvh, 17em);

		.scale {
			flex-direction: column;
			width: 2em;
		}
	}

	.navigation {
		grid-row: 1 / span 2;
		grid-column: 3;
		flex-direction: column;
		width: 100%;

		button-ponent {
			/* width: 100%; */
			/* aspect-ratio: 1; */
			padding: .5em;
		}
	}

	slot.criteria {
		grid-row: 2;
		grid-column: 1;
	}
}

@media (aspect-ratio <=1) {
	:host {
		grid-template-columns: 1fr;
		grid-template-rows: auto 3fr 2fr;

		>header {
			display: grid;
			grid-template-columns: 1fr auto;

			h1 {
				grid-column: 1 / -1;
			}
		}
	}

	.helpers {
		grid-template-rows: 1fr auto;
		place-content: end stretch;

		.scale {
			li {
				height: 2em;
			}
		}
	}

	.navigation {
		grid-row: 4;
		grid-column: 1;
		flex-direction: row;
		height: 3em;

		button-ponent {
			height: 100%;
			aspect-ratio: 1;
			padding: .5em;
		}
	}
}