/* Evaluation Component Styles */

:host {
	--input-width: 3rem;
	display: grid;
	grid-area: app;
	max-height: 100vh;
	position: sticky;
	top: 0;
	height: 100%;
	font-size: max(2vw, 1rem);

	>header {
		padding: 0.5em;
		display: grid;
		font-weight: bold;

		slot {
			display: block;
		}
	}
}

.scoring {
	display: flex;
	align-items: center;
	gap: 0 1ch;
}

.student {
	display: flex;
	align-items: center;
	gap: 0 1ch;
}

.helpers {
	--radius: .75em;
	--bg-color: hsl(from var(--background-color) h s calc(l + var(--less)));
	--border-color: hsl(from var(--bg-color) h calc(s + 50) l);

	display: grid;
	overflow: hidden;
	position: relative;
	background-color: var(--bg-color);
}

section.comments {
	box-sizing: border-box;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.25em 0.5em;
		background-color: var(--border-color);

		h1 {
			margin: 0;
			font-size: 1em;
		}

		button {
			--color: hsl(0, 70%, 50%);
			box-sizing: border-box;
			font-size: 0.75em;
			aspect-ratio: 1;
			width: 2em;
			margin-block: -1em;
			border-radius: 2em;
			border: none;
			background-color: var(--color);
			box-shadow: 0 2px 3px #0006;
			color: white;

			&:hover {
				background-color: hsl(from var(--color) h 100% l);
			}
		}
	}

	slot {
		overflow-y: auto;
		display: grid;
		font-size: smaller;
		line-height: 1;
		align-content: flex-start;
	}
}

.id {
	quotes: '(' ')';
	font-size: smaller;

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}

.description {
	display: none;
}

slot.criteria {
	--gap-inline: .5em;
	display: block;
	padding: 0 0.5em;
	padding-bottom: 1em;
	overflow-y: auto;
}

.navigation {
	display: flex;
	color: hsl(var(--h), var(--s), calc(40% + 5% * var(--less)));
}

@media (aspect-ratio > 1) {
	:host {
		grid-template-columns: 1fr auto auto;
		grid-template-rows: auto 1fr;

		>header {
			display: grid;
			grid-template-columns: auto auto auto;
			justify-content: space-between;
			grid-row: 1;
			grid-column: 1 / -1;
		}
	}

	section.helpers {
		overflow: hidden;
		grid-auto-flow: column;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr auto;
		grid-row: 2;
		grid-column: 2;
		place-content: stretch end;
		width: 80vh;
		max-width: 17em;

		.scale {
			flex-direction: column;
			width: 2em;
		}
	}

	.navigation {
		grid-row: 2;
		grid-column: 3;
		flex-direction: column;
		width: 3em;

		button-ponent {
			width: 100%;
			aspect-ratio: 1;
			padding: .5em;
		}
	}

	slot.criteria {
		grid-row: 2;
		grid-column: 1;
	}
}

@media (aspect-ratio <=1) {
	:host {
		grid-template-columns: 1fr;
		grid-template-rows: auto 3fr 2fr;

		>header {
			display: grid;
			grid-template-columns: 1fr auto;

			slot {
				grid-column: 1 / -1;
			}
		}
	}

	.helpers {
		grid-template-rows: 1fr auto;
		place-content: end stretch;

		.scale {
			li {
				height: 2em;
			}
		}
	}

	.navigation {
		grid-row: 4;
		grid-column: 1;
		flex-direction: row;
		height: 3em;

		button-ponent {
			height: 100%;
			aspect-ratio: 1;
			padding: .5em;
		}
	}
}