:host {
	--gap: .25em;
	--gap2: calc(var(--gap) * 2);
	display: grid;
	grid-template-columns: 1fr var(--input-width, 4em) auto;
	grid-column: 1 / -1;
	gap: 0 var(--gap-inline);
}
header,
slot[name="criteria"] {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
}
slot[name="criteria"] {
	padding-left: var(--gap2);
	margin-left: var(--gap2);
	border-left: var(--gap) solid #0002;
	border-radius: var(--gap2) 0 0 var(--gap2);
}
:host(:has(>[slot="criteria"])) {
	>header {
		input[readonly] {
			background-color: #0000;
			border: 1px solid #0002;
		}
	}
	border-radius: var(--gap2);
}
header {
	line-height: .9;
	align-items: center;
	padding-block: var(--gap);
	label {
		display: contents;
	}

	input {
		font-size: 1.2em;
		background-color: #334;
		color: #fff;
		align-self: start;
		appearance: textfield;
		text-align: right;
		border: none;
		border-radius: 0.25em;
		padding: 0.25em 0.5em;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}