:host {
	--input-width: 3em;
	display: grid;
	grid-area: app;
	max-height: 100vh;
	position: sticky;
	top: 0;
	/* gap: 0.25em; */
	height: 100%;

	>header {
		padding: 0.5em;
		grid-area: header;
		display: flex;
		justify-content: space-between;
	}

	.scoring {
		display: flex;
		align-items: center;
		gap: 0 1ch;
	}

	.student {
		display: flex;
		align-items: center;
		gap: 0 1ch;
	}

	.comments {
		box-sizing: border-box;
		overflow: hidden;
		display: grid;
		grid-template-rows: auto 1fr;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem;
			font-size: larger;
			background-color: hsl(from var(--background-color) h calc(s + 15) calc(l + 15));
			h1 {
				margin: 0;
				font-size: 1em;
			}

			button {
				--color: hsl(0, 70%, 50%);
				box-sizing: border-box;
				font-size: 1em;
				aspect-ratio: 1;
				width: 2em;
				margin-block: -1em;
				border-radius: 2em;
				border: none;
				background-color: var(--color);
				box-shadow: 0 2px 3px #0006;
				color: white;

				&:hover {
					background-color: hsl(from var(--color) h 100% l);
				}
			}
		}

		slot {
			overflow-y: auto;
			display: grid;
		}
	}

	.id {
		quotes: '(' ')';
		font-size: smaller;

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}
}


slot[name="criteria"] {
	--gap-inline: .5em;
	grid-area: criteria;
	display: block;
	padding: 0 1em;
	padding-bottom: 1em;
	overflow-y: auto;
}


.helpers {
	--radius: .75em;
	background-color: #333;
	display: grid;
	border: 2px solid hsl(from var(--background-color) h s calc(l + 25));
	position: relative;
}

@media (aspect-ratio > 1) {
	:host {
		grid-template-columns: 3fr 2fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "header header" "criteria helpers";
	}

	.helpers {
		overflow: hidden;
		grid-auto-flow: column;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr auto;
		place-content: stretch end;
		border-right: none;
		border-radius: var(--radius) 0 0 var(--radius);

		.scale {
			flex-direction: column;
			width: 2em;
		}
	}
}

@media (aspect-ratio <=1) {
	:host {
		grid-template-columns: 1fr;
		grid-template-rows: auto 3fr 2fr;
		grid-template-areas: "header" "criteria" "helpers";
	}

	.helpers {
		margin-inline: 0.5rem;
		border-bottom: none;
		border-radius: var(--radius) var(--radius) 0 0;
		grid-template-rows: 1fr auto;
		place-content: end stretch;

		.scale {
			li {
				height: 2em;
			}
		}
	}
}