/* Scoring component styles */

:host {
	--background-color: white;
	--text-color: #333;
	--highlight-color: transparent;
	font-size: 1rem;
	display: grid;
	grid-template-columns: 1fr minmax(3ch, auto);
	align-items: center;
	align-self: baseline;
	background-color: var(--background-color);
	color: var(--text-color);
	align-self: baseline;
	border-radius: 0.25em;
	padding-block: 0.125em;
	height: 1.5em;
	box-shadow: inset 0px 0px 3px 3px var(--highlight-color);

	input {
		font: inherit;
		color: inherit;
		border: none;
		padding: 0;
		margin: 0;
		text-align: center;
		appearance: textfield;
		outline: none;
		background-color: transparent;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	/* &:focus-within {
			outline: 2px solid hsl(from blue 211 50% l);
			outline-offset: 1px;
		} */

	.max {
		color: hsl(from currentColor h s l / 0.5);
		font-size: smaller;
		align-self: stretch;
		border-left: 1px solid;
		padding-inline: .25ch;
		display: grid;
		place-items: center;

		/* &:before {
			content: "/";
			font-size: 1.5em;
			line-height: 1rem;
		} */
	}


}