/* Criterion Component Styles */

:host {
	--border-color: var(--accent-color);
	display: grid;
	grid-template-columns: 1fr var(--input-width, 4em);
	grid-column: 1 / -1;
	/* gap: 0 .25rem; */
	/* padding-top: .5rem; */
	cursor: default;
}
header,
slot.criteria {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	padding-left: .25rem;
}

header {
	line-height: 1.1;
	align-items: center;
	padding: .125rem .25rem;
	margin-inline: -.125rem;
	border-radius: 0.5rem;
	border: 2px solid transparent;
	cursor: pointer;

	label {
		display: contents;
	}

	&:hover {
		background-color: hsl(from var(--accent-color) h s l / 0.4);
		/* border-color: var(--border-color); */
	}


	
}

slot.criteria {
	cursor: url(/public/cursors.svg#Collapse) 11.5 11.5, ns-resize;
	border-color: var(--border-color);
	border-style: solid;
	border-width: 0 0 .15rem .3rem;
	border-radius: 1em;
	padding-block: .5rem .25rem;
	position: relative;

	&::before {
		content: "⏵";
		position: absolute;
		border-radius: 1em;
		color: var(--background-color);
		/* border: 1px solid var(--border-color); */
		background-color: var(--border-color);
		/* color: var(--border-color);
		border: 1px solid var(--border-color);
		background-color: var(--background-color); */
		line-height: 0;
		font-size: .8rem;
		width: 1.2em;
		height: 1.2em;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -.25em;
		left: 0em;
		box-sizing: border-box;
		/* padding-left: 1px; */
		/* padding-bottom: 2px; */
		rotate: 0deg;
		transition: rotate 200ms ease-out;
		box-sizing: border-box;
	}
}

slot.comments {
	display: block;
	grid-column: 1 / -1;
}

slot {
	align-self: end;
}

.description {
	font-size: 0.9em;
	font-family: var(--font-cursive);
	grid-column: 1 / -1;
	line-height: 1;
	/* color: hsl(from currentColor h s l / 0.75); */
	padding-block: .5em;
	padding-inline: .5em;
}

::slotted(gv-criterion) {
	font-size: calc(1em * var(--smaller));
}

slot.default {
	display: grid;
	place-self: stretch;
	align-items: center;
}

:host(.collapsed) {
	slot.criteria {
		cursor: url(/public/cursors.svg#Expand) 11.5 11.5, ns-resize;
		border-top: 2px solid var(--border-color);
		padding-top: .3rem;
		margin-top: -2px;

		&::before {
			rotate: 90deg;
		}
	}

	::slotted(gv-criterion) {
		display: none;
	}

}


:host(.has-criteria) {
	padding-top: .25em;
	/* cursor: default; */
	>header {
		border-style: dotted;
		background-clip: padding-box;
		font-style: oblique;

		gv-scoring {
			--background-color: transparent;
			--text-color: inherit;
			--sh: hsl(from var(--background-color) h s calc(l + var(--less)));
			--hl: hsl(from var(--background-color) h s calc(l + var(--more)));
			box-shadow: none;
			/* background-color: transparent;
			background-image: linear-gradient(to bottom,
					hsl(from var(--background-color) h s l),
					hsl(from var(--background-color) h s calc(l + var(--less)))); */
		}
	}
}

:host(.has-criteria:hover) {
	--border-color: hsl(from var(--accent-color) h s calc(l + 2 * var(--less)));
}

:host(:not(.has-criteria)) {
	slot.criteria {
		display: none;
	}
}

:host(:has(.current)),
:host(.current) {
	.description {
		display: block;
	}
}

:host(.current) {
	>header {
		background-color: var(--accent-color);
		border-color: var(--border-color);
		box-shadow: 0px 9px 6px -6px #0003;
		/* position: relative; */
	}
}

:host(:not(.current)) {
	.description {
		display: none;
	}
}
