/* Criterion Component Styles */

:host {
	--gap: .25em;
	--gap2: calc(var(--gap) * 2);
	display: grid;
	grid-template-columns: 1fr var(--input-width, 4em) auto;
	grid-column: 1 / -1;
	gap: 0 var(--gap-inline);
	padding-top: var(--gap);
}

header,
slot.criteria {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	padding-left: var(--gap2);
}
:host(.has-criteria) slot.criteria {
	border-color: var(--accent-color);
	border-style: solid;
	border-width: 0 0 calc(var(--gap) / 2) var(--gap);
	border-radius: 1em;
	padding-bottom: .25em;
	position: relative;
	&::before {
		content: "⏵";
		position: absolute;
		border-radius: 1em;
		color: var(--accent-color);
		border: 1px solid currentColor;
		background-color: var(--background-color);
		line-height: 0;
		font-size: .8rem;
		width: 1.2em;
		height: 1.2em;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -.25em;
		left: 0em;
		box-sizing: border-box;
		/* padding-left: 1px; */
		/* padding-bottom: 2px; */
		rotate: 0deg;
		transition: rotate 0.2s ease-in-out;
	}
}
:host(.collapsed) {
	slot.criteria {
		border-left-color: transparent;
	}
	::slotted(gv-criterion) {
		display: none;
	}
	&::before {
		rotate: 90deg;
	}
}
slot.comments {
	display: block;
	grid-column: 1 / -1;
}

slot {
	align-self: end;
}

.description {
	font-size: 0.9em;
	font-family: 'Bad Script';
	grid-column: 1 / -1;
	line-height: 1;
	color: hsl(from currentColor h s l / 0.75);
	/* display: none; */
	padding-block: .5em;
}

:host(:has(>[slot="criteria"])) {
	>header {

		input[readonly],
		input[disabled] {
			background-color: #0000;
			/* border: 1px solid hsl(from currentColor h s l / 0.2); */
			box-shadow:
				-1px -1px #0002,
				inset 1px 1px #fff1,
				inset -1px -1px #0002,
				1px 1px #fff1;
		}
	}
}

::slotted(gv-criterion) {
	font-size: .95em;
}

:host(:has(.current)),
:host(.current) {
	.description {
		display: block;
	}
}
:host(:not(.current)) {
	.description {
		display: none;
	}
}

:host(.current) {
	>header {
		background-color: var(--accent-color);
		position: relative;
	}
}

header {
	line-height: 1.1;
	align-items: center;
	padding: var(--gap);
	margin: calc(var(--gap) * -1);
	border-radius: 0.5em;
	border: 2px solid transparent;

	label {
		display: contents;
	}

	&:hover {
		background-color: hsl(from var(--accent-color) h s l / 0.3);
		border-color: var(--accent-color);
	}


	.input {
		font-size: 1rem;
		display: grid;
		grid-template-columns: subgrid;
		grid-column: span 2;
		align-items: center;
		align-self: baseline;
	}

	span {
		color: hsl(from currentColor h s l / 0.5);
		font-size: smaller;
	}

	input {
		font-size: 1.2em;
		background-color: hsl(from var(--background-color) h s calc(l + 10));
		box-shadow: inset 1px 1px 0.25em #0009;
		color: var(--text-color);
		align-self: baseline;
		appearance: textfield;
		text-align: right;
		border: none;
		border-radius: 0.25em;
		padding: 0.25em 0.5em;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&:focus {
			outline: 2px solid hsl(from blue 211 50% l);
			outline-offset: 1px;
		}
	}
}

.value {
	width: 4ch;

	&:before {
		content: "/";
	}
}

slot.default {
	display: grid;
	place-self: stretch;
	align-items: center;
}