/* Comment Component Styles */
:host {
	display: block;
	padding: .25em 0;
	padding-bottom: .5em;
	margin-inline: .5em;
	border-bottom: 2px groove #fff6;
	font-style: oblique;
	>label>input {
		display: none;
	}
}
:host([checked]) {
	font-style: normal;
	color: var(--highlight-color);
	background-color: #ff01;
}

:host(:last-child) {
	border-bottom: none;
}
* {
	box-sizing: border-box;
}
form {
	display: grid;
	gap: .5em;
	textarea {
		resize: none;
		width: 100%;
		font-family: inherit;
		background-color: #fff3;
		border: 1px solid var(--border-color);
		padding: .5em;
		color:inherit;
		outline: none;
	}
}
span.value:not(:empty) {
	font-size: .9em;
	quotes: "[" "]";
	&::before {
		content: open-quote;
	}
	&::after {
		content: close-quote;
	}
}
.value-container {
	gap: .5em;
	display: flex;
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		display: contents;
	}
}
::part(box) {
	box-sizing: border-box;
}

@media (aspect-ratio > 1) {
	.value-container {
		flex-direction: row;
	}
	::part(box) {
		width: auto;
		margin-left: auto;
		scale: 0 1;
		transform-origin: right 0%;
		margin-right: var(--offset-x);
		/* margin-right: 3rem; */
		/* justify-self: end; */
	}
}
@media (aspect-ratio <= 1) {
	.value-container {
		flex-direction: row;
		fieldset {
			display: flex;
			flex-direction: column;
		}
	}
	::part(box) {
		width: calc(100% - 1em);
		margin-top: auto;
		margin-bottom: var(--offset-y);
		transform-origin: center bottom;
		scale: 1 0;
		/* margin-bottom: 6rem; */
		/* align-self: end; */
	}
}